<!doctype html>
<html>
<head>
    <title>Track your debts</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="profileBody">
<div class="profileContain">
<div >

    <h1><span class="fa fa-sign-in"></span> Signup</h1>


    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div >
            <label>Email</label>
            <input type="text"  name="email">
        </div>
        <div >
            <label>Password</label>
            <input type="password"  name="password">
        </div>

        <button type="submit" >Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html>
